* {
  margin: 0;
  padding: 0;
  background-color: #1d123e;
  color: #1d123e;
  font-size: 62.5;
}

.result {
  color: #fff;
  text-align: right;
  font-size: 1.5rem;
  padding: 0.5rem;
  min-width: 17rem;
  max-width: 17rem;
  min-height: 10rem;
  max-height: 10rem;
}

.calculator {
  display: table;
  margin: 2rem auto;
}
.buttonKey, sup{
  width: 4rem;
  height: 4rem;
  font-size: 1em;
  margin: 0.3rem;
  border-radius: 10px 10px;
  background-color: rgb(3, 202, 172);
}

.buttonKey:hover, sup :hover {
  background-color: rgb(44, 109, 170);
}